@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato);
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-platinum: #E5E4E2;
  --color-steel: #71797E;
  --color-new:rgb(201, 237, 149);
  --color-primary: white;
  --color-secondary: #000000;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey1: #dbe1e8;
  --color-grey2: #b2becd;
  --color-grey3: #6c7983;
  --color-grey4:#464e56;
  --color-grey4: #2a2e35;
  --color-grey5: #12181b;
  --br-sm-2: 14px;
  --box-shawdow1: 0px 3px 15px rgba(0,0,0,.2);
  --color-pink: rgb(221, 133, 133);
}

.Background {
  background-image: url("/Users/mileskeaveny/Desktop/PortfolioProject/img/DSC02586.JPG");
}

button {
  font-family: "MonaLisa", sans-serif;
  text-transform: uppercase;
}

.active-btn {
  background-color: transparent;
  box-shadow: none;
  color: rgb(221, 133, 133);
}

button {
  position: relative;
  border: none;
  font-size: 18px;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
  outline: none;
  border-radius: 3px;
  margin: 0 10px;
  padding: 15px 20px;
  border: 3px solid transparent;
}

button:active {
  transform: translateY(3px);
}

button::after, button::before {
  border-radius: 3px;
}

.shrink-border {
  background-color: transparent;
  color: #1b1b20;
}

.shrink-border:hover {
  background-color: transparent;
  box-shadow: none;
  color: black;
  transform: scale(1.1);
}

.shrink-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #1b1b20;
  transition: opacity 0.3s, border 0.3s;
}

.shrink-border:hover::before {
  opacity: 0;
}

.shrink-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 3px solid #e6e6e6;
  opacity: 0;
  z-index: -1;
  transform: scaleX(1.1) scaleY(1.3);
  transition: transform 0.3s, opacity 0.3s;
}

.shrink-border:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.material-bubble {
  background-color: transparent;
  color: #1b1b20;
  border: none;
  overflow: hidden;
  box-shadow: none;
}

.material-bubble:hover {
  color: #e6e6e6;
}

.material-bubble::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #1b1b20;
  transition: opacity 0.3s, border 0.3s;
}

.material-bubble:hover::before {
  opacity: 0;
}

.material-bubble::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #494958;
  border-color: transparent;
  border-radius: 50%;
  transform: translate(-10px, -70px) scale(0.1);
  opacity: 0;
  z-index: -1;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.material-bubble:hover::after {
  opacity: 1;
  transform-origin: 100px 100px;
  transform: scale(1) translate(-10px, -70px);
}

.Buttoncontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  text-align: center;
}

.button-div {
  display: flex;
  height: 60vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--color-primary);
  font-family: "MonoLisa", sans-serif;
  font-size: 1.1rem;
  background-color: rgb(58, 70, 53);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: "MonaLisa", sans-serif;
}

.padding2 {
  padding-top: 4rem;
  background-color: var(--color-steel);
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
  padding: 0 !important;
}

.milesK {
  text-align: center;
  font-family: "MonoLisa", sans-serif;
  width: -moz-fit-content;
  width: fit-content;
  border-right: 0.15em solid transparent;
  font-size: 5vw;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.2vw;
  animation: typing 2.2s steps(20, end), blink-caret 0.75s step-end 3;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
@keyframes typing2 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  width: 100%;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 63% 0, 81% 100%, 0% 100%);
          clip-path: polygon(0 0, 63% 0, 81% 100%, 0% 100%);
}
.header-content .left-header .image {
  border-radius: var(--br-sm-2);
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  background-color: var(--color-black);
  transition: all 0.4s ease-in-out;
}
.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}
.header-content .left-header .image img:hover {
  filter: grayscale(0);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 6rem;
}
.header-content .right-header .name {
  font-size: 3rem;
}
.header-content .right-header .name span {
  color: var(--color-secondary);
}
.header-content .right-header .name P {
  margin: 1.5rem 0;
  line-height: 2rem;
}
.header-content .right-header .subtitle {
  font-size: 1.5rem;
}
.header-content .right-header .subtitle span {
  color: var(--color-secondary);
}
.header-content .right-header .subtitle P {
  margin: 1.5rem 0;
  line-height: 2rem;
}

.portfolio-title {
  animation: 1.5s fadeInUp2;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  position: relative;
  font-size: 2.5vw;
  background-color: var(--color-platinum);
  color: black;
  font-family: "MonoLisa", sans-serif;
}
.portfolio-title::before {
  content: "";
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  transform: translateX(-50%);
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--color-platinum);
  width: 100vw;
  /* grid-template-columns: 1fr 1fr; */
  overflow: hidden;
  min-height: 60vw;
  max-height: 90vw;
  position: relative;
  align-items: center;
  justify-content: center;
  top: 0;
  max-width: 100% !important;
  overflow-x: hidden !important;
}
.about-container .right-about {
  padding-left: 3vw;
  padding-right: 3vw;
  height: 98%;
  max-width: 50vw;
  animation: 1.5s fadeInRight;
  display: block;
  justify-content: center;
  align-items: center;
  border-left: 3px black solid;
}
.about-container .right-about .profile-img {
  border-radius: 15px;
  margin-top: 10%;
  background-image: url("../img/Screen Shot 2023-09-08 at 3.47.13 PM.png");
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 80%;
  /*  overflow:hidden; */
  height: 50vw;
  width: 35vw;
  max-width: 40vw;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 3vw;
}
.about-container .right-about .right-skills {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  display: grid inline-block;
  grid-template-columns: repeat(auto-fit, 3, 1fr);
  grid-gap: 1vw;
  grid-auto-rows: 0.2fr;
}
.about-container .right-about .right-skills .about-stats {
  border: 1px solid var(--color-grey-5);
  border-radius: 0px;
  transition: all 0.4s ease-in-out;
  padding-left: 6vw;
  padding-right: 0rem;
  padding-bottom: 2vw;
}
.about-container .right-about .right-skills .about-stats .abt-text {
  padding: 1vh;
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
}
.about-container .right-about .right-skills .about-stats .abt-text .large-text {
  font-size: 2vw;
  color: var(--color-secondary);
}
.about-container .right-about .right-skills .about-stats .abt-text .small-text {
  padding-left: 1vw;
  position: relative;
  text-transform: uppercase;
  font-size: 10vw;
  color: var(--color-grey-1);
  letter-spacing: 2vw;
}
.about-container .right-about .right-skills .about-stats .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2vw;
  height: 2vw;
  background-color: var(--color-grey-5);
}
.about-container .left-about {
  position: center;
  top: 0%;
  float: right;
  position: relative;
  margin-left: 3vw;
  width: 50vw;
  animation: 1.5s fadeInRight;
  display: block;
  /* animation: 1.5s fadeInLeft;
  background-color:transparent;




  max-width: 45vw;


  border-radius: 1vw;
  margin-left: 1vw; */
}
.about-container .left-about p {
  text-align: center;
  font-size: 1.5vw;
  font-family: "MonoLisa", sans-serif;
  padding: 2vh;
  line-height: 2.3vw;
  color: var(white);
}
.about-container .left-about h4 {
  font-family: "MonoLisa", sans-serif;
  padding-top: 2vh;
  text-align: center;
  font-size: 2vw;
  text-transform: uppercase;
}
.about-container .left-about:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}

.info {
  background-color: var(--color-platinum);
  min-height: 100vh;
}

.sub-title {
  background-color: var(--color-platinum);
  font-family: "MonoLisa", sans-serif;
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vw;
}
.sub-title h3 {
  animation: 1.5s fadeInUp2;
  position: relative;
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 200;
}
.sub-title h3 span {
  color: var(--color-secondary);
}

.dex-imgs {
  animation: 1.5s fadeInDown2;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  grid-template-rows: repeat(2, 2fr);
  margin-top: 3vw;
  padding-bottom: 1.4vh;
  align-items: center;
  justify-items: center;
  grid-row-gap: 5vh;
  grid-column-gap: 5vw;
  background-color: var(--color-platinum);
}
.dex-imgs .Dex-img {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  height: 35vw;
  width: 20vw;
  background-repeat: no-repeat;
  border-radius: 6vw;
  align-items: center;
  justify-items: center;
  background-size: cover;
}
.dex-imgs .Dex-img .one {
  height: 35vw;
  width: 20vw;
  background-image: url("../img/AgVoice1.png");
  background-size: cover;
  border-radius: 2vw;
}
.dex-imgs .Dex-img .two {
  height: 35vw;
  width: 20vw;
  background-image: url("../img/AgVoice2.png");
  background-size: cover;
  border-radius: 2vw;
}
.dex-imgs .Dex-img .three {
  height: 35vw;
  width: 20vw;
  background-image: url("../img/AgVoice3.png");
  background-size: cover;
  border-radius: 2vw;
}
.dex-imgs .Dex-img .four {
  height: 35vw;
  width: 20vw;
  background-image: url("../img/AgVoice4.png");
  background-size: cover;
  border-radius: 2vw;
}

.stat-title {
  text-transform: uppercase;
  font-size: 2vw;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  font-family: "MonoLisa", sans-serif;
}
.stat-title::before {
  content: "";
  left: 50%;
  top: 0;
  height: 1px;
  background-color: var(--color-grey-1);
  transform: translateX(-50%);
}

.skill-logos {
  align-items: center;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 0.5rem;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  row-gap: 1.4vw;
  display: flex;
  flex-wrap: wrap;
  padding-right: 0rem;
  width: 41vw;
}
.skill-logos .skill-logo {
  width: 20vw;
  position: relative;
  padding-left: 1vw;
  border-left: 1px solid var(--color-grey-5);
}
.skill-logos .skill-logo .slogo {
  position: absolute;
  left: -3vw;
  top: 0;
  background-color: var(--color-secondary);
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-logos .skill-logo .slogo i {
  font-size: 1.3vw;
}

.tl-icon {
  position: absolute;
  background-color: var(--color-pink);
  transform: translateX(-4vw);
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tl-icon i {
  font-size: 1.6vw;
}

/* .timeline {
    padding-left:6vw;
    padding-right:2vw;
    align-items: flex-start;

    grid-template-columns: repeat(3, 2fr);
    display: flex;
    flex-wrap: wrap;

    width: 100vw;


    grid-gap: 2vw;
    padding-bottom: 2vw;
    .timeline-item {
        position: relative;
        max-width: 45vw;
        padding-left: 3vw;

        border-left: 1px solid var(--color-grey-5);
        .tl-icon {
            position: absolute;
            left: -10px;
            top: 0;
            background-color: var(--color-pink);
            width: 4vw;
            height: 4vw;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            i { font-size: 1.6vw; }
        }
        .tl-duration {
            font-family: 'MonoLisa', sans-serif;
            padding: .2rem .6rem;
            background-color: var(--color-grey-5);
            border-radius: 15px;
            display: inline-block;
            font-size: .8rem;
            text-transform: uppercase;
            font-weight: 500;
        }
        h5 {
            font-family: 'MonoLisa', sans-serif;
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 1vw;
            font-weight: 600;
            span {
                color: var(--color-grey-2);
                font-weight: 500;
                font-size: 1vw;
            }
        }
        p{ 
            font-family: 'MonoLisa', sans-serif;
            color: var(--color-grey-2); 
        font-size: 1.3vw;}
    }
} */
.my-links {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  grid-template-columns: repeat(2, 2fr);
  padding-bottom: 2vw;
  padding-top: 5px;
}
.my-links .link {
  width: 5vw;
  height: 5vw;
  border-radius: 20px;
  font-size: 5vw;
}

/* .iconSize{
    align-items: center;
    justify-content: center;
    font-size: 5vw;
} */
.my-links:hover .link:hover {
  transform: scale(1.1);
}

.port-text {
  animation: 1.5s fadeInUp2;
  padding: 3vw 0;
  text-align: center;
  font-size: 1.5vw;
  font-family: "MonoLisa", sans-serif;
  background-color: var(--color-platinum);
}

.portfolio {
  width: 100vw;
  overflow: hidden;
}

.portfolios {
  animation: 1.5s fadeInDown2;
  background-color: var(--color-platinum);
  padding-top: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
  align-content: left;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  row-gap: 3vw;
  -moz-column-gap: 0vw;
       column-gap: 0vw;
  padding-bottom: 2rem;
  margin-bottom: 2vh;
  flex-wrap: wrap;
}
.portfolios .portfolio-item-even {
  overflow: hidden;
  position: relative;
  left: 15%;
  background-color: var(--color-steel);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  height: 30vw;
  position: relative;
  border-radius: 15px;
}
.portfolios .portfolio-item-even img {
  width: 100%;
  height: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  border-color: black;
}
.portfolios .portfolio-item-even .hover-item {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--color-steel);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
  border-style: solid;
  border-color: black;
}
.portfolios .portfolio-item-even .hover-item .h3 {
  font-size: 2vw;
  color: var(--color-grey-1);
  margin-bottom: 2vw;
}
.portfolios .portfolio-item-even .hover-item .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item-even .hover-item .icons .icon {
  background-color: rgb(221, 133, 133);
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item-odd {
  overflow: hidden;
  position: relative;
  right: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
  height: 30vw;
  right: 15%;
  position: relative;
  border-radius: 15px;
}
.portfolios .portfolio-item-odd img {
  width: 100%;
  height: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.portfolios .portfolio-item-odd .hover-item {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--color-steel);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
  border-style: solid;
  border-color: black;
}
.portfolios .portfolio-item-odd .hover-item .h3 {
  font-size: 2vw;
  color: white;
  margin-bottom: 2vw;
}
.portfolios .portfolio-item-odd .hover-item .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item-odd .hover-item .icons .icon {
  background-color: rgb(221, 133, 133);
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .hover-items {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios .hover-items img {
  width: 140%;
  height: 140%;
}
.portfolios .hover-item3 {
  overflow: hidden;
  width: 30vw;
  height: 30vw;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
  font-family: "MonoLisa", sans-serif;
}

.portfolio-item-even:hover {
  width: 100%;
  background-color: var(--color-steel);
  display: inline-block;
  border-style: 5px solid black;
}

.portfolio-item-odd:hover {
  width: 100%;
  background-color: var(--color-steel);
  border-style: 5px solid black;
}

.portfolio-item-odd:hover .hover-items {
  overflow: hidden;
  width: 40%;
  height: 70%;
  opacity: 1;
  border-style: solid black;
  transform: translateX(70%) translateY(10%) scale(1);
  z-index: 1;
}

.portfolio-item-odd:hover .hover-item {
  overflow: hidden;
  width: 35vw;
  height: 20vw;
  background-color: var(--color-primary);
  border: 1px solid rgb(0, 0, 0);
  z-index: 0;
  transform: translateY(5%) translateX(170%);
}

.portfolio-item-odd:hover .hover-item3 {
  overflow: hidden;
  width: 60vw;
  text-align: center;
  opacity: 1;
  height: 10vw;
  background-color: var(--color-primary);
  border: 2px solid rgb(0, 0, 0);
  transform: translateY(190%) translateX(50%) scale(1);
  z-index: 2;
}

.portfolio-item-odd:hover .icons:hover .icon {
  transform: scale(1.1);
}

.portfolio-item-even:hover .icons:hover .icon {
  transform: scale(1.1);
}

.portfolio-item-even:hover .hover-items {
  overflow: hidden;
  width: 40%;
  height: 70%;
  opacity: 1;
  border-style: solid black;
  transform: translateX(85%) translateY(15%) scale(1);
  z-index: 1;
}

.portfolio-item-even:hover .hover-item {
  overflow: hidden;
  width: 38vw;
  height: 20vw;
  background-color: var(--color-primary);
  border: 1px solid rgb(0, 0, 0);
  z-index: 0;
  transform: translateY(7%) translateX(2%);
}

.portfolio-item-even:hover .hover-item3 {
  overflow: hidden;
  width: 60vw;
  text-align: center;
  opacity: 1;
  height: 10vw;
  background-color: var(--color-primary);
  border: 2px solid rgb(0, 0, 0);
  transform: translateY(190%) translateX(5%) scale(1);
  z-index: 2;
}

.portfolio-item-even:active {
  width: 100%;
  background-color: var(--color-steel);
  display: inline-block;
  border-style: 5px solid black;
}

.portfolio-item-odd:active {
  width: 100%;
  background-color: var(--color-steel);
  border-style: 5px solid black;
}

.portfolio-item-odd:active .hover-items {
  overflow: hidden;
  width: 40%;
  height: 70%;
  opacity: 1;
  border-style: solid black;
  transform: translateX(70%) translateY(10%) scale(1);
  z-index: 1;
}

.portfolio-item-odd:active .hover-item {
  overflow: hidden;
  width: 35vw;
  height: 20vw;
  background-color: var(--color-primary);
  border: 1px solid rgb(0, 0, 0);
  z-index: 0;
  transform: translateY(5%) translateX(170%);
}

.portfolio-item-odd:active .hover-item3 {
  overflow: hidden;
  width: 60vw;
  text-align: center;
  opacity: 1;
  height: 10vw;
  background-color: var(--color-primary);
  border: 2px solid rgb(0, 0, 0);
  transform: translateY(190%) translateX(50%) scale(1);
  z-index: 2;
}

.portfolio-item-odd:active .icons:active .icon {
  transform: scale(1.1);
}

.portfolio-item-even:active .icons:active .icon {
  transform: scale(1.1);
}

.portfolio-item-even:hover .title {
  font-size: 2.2vw;
  color: black;
}

.portfolio-item-odd:hover .title {
  font-size: 2.2vw;
  color: black;
}

.portfolio-item-even:active .hover-items {
  overflow: hidden;
  width: 40%;
  height: 70%;
  opacity: 1;
  border-style: solid black;
  transform: translateX(85%) translateY(15%) scale(1);
  z-index: 1;
}

.portfolio-item-even:active .hover-item {
  overflow: hidden;
  width: 38vw;
  height: 20vw;
  background-color: var(--color-primary);
  border: 1px solid rgb(0, 0, 0);
  z-index: 0;
  transform: translateY(7%) translateX(2%);
}

.portfolio-item-even:active .hover-item3 {
  overflow: hidden;
  width: 60vw;
  text-align: center;
  opacity: 1;
  height: 10vw;
  background-color: var(--color-primary);
  border: 2px solid rgb(0, 0, 0);
  transform: translateY(190%) translateX(5%) scale(1);
  z-index: 2;
}

.desciption {
  font-size: 1.6vw;
}

.title {
  font-size: 2.2vw;
  color: black;
  font-family: "MonoLisa", sans-serif;
}

.description {
  font-size: 1.9vw;
}

.about-stats {
  padding-right: 0rem;
  padding-bottom: 4rem;
}
.about-stats .progress-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-stats .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
.about-stats .progress-bars .progress-bar .prog-title {
  text-transform: uppercase;
  font-weight: 500;
}
.about-stats .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
}
.about-stats .progress-bars .progress-bar .progress-con .prog-text {
  color: var(--color-grey-2);
}
.about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-grey-4);
  margin-left: 1rem;
  position: relative;
}
.about-stats .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
  width: 60%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .html {
  width: 80%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .css {
  width: 95%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .js {
  width: 75%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .react {
  width: 60%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .node {
  width: 87%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .python {
  width: 70%;
}

.btn-con {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 30vw;
  height: 5vw;
  margin-left: 8vw;
  margin-right: 20vw;
  font-size: 1.7vw;
}

.main-btn {
  color: inherit;
  position: relative;
  border: 0.2vw solid black;
  border-radius: 10vh;
  display: flex;
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 4vw;
  width: 17vw;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 2vh;
  margin-left: 1vw;
  font-size: 1.4vw;
}
.main-btn .btn-icon {
  background-color: rgb(221, 133, 133);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.2vh;
  width: 7vw;
  height: 7vw;
  margin-left: 1.7vw;
  overflow: hidden;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10vh;
  transform: translateX(-100%);
  overflow: hidden;
  transition: all 2s ease-out;
  z-index: -1;
  border-radius: 10vh;
}
.main-btn:hover {
  transition: all 2s ease-out;
  border-radius: 10vh;
  overflow: hidden;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  border-radius: 10vh;
  background-color: rgb(221, 133, 133);
  transform: translateX(0%);
  overflow: hidden;
}
.main-btn:hover i {
  display: flex;
  font-size: 1.2rem;
  color: var(--color-grey2);
  pointer-events: none;
}

.main-title2 {
  padding-top: 2vw;
  font-family: "MonoLisa", sans-serif;
  background-color: var(--color-platinum);
  font-size: 2vw;
  color: var(black);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 2.3vw;
}

.main-title {
  padding-bottom: 2vw;
  padding-top: 12vh;
  font-family: "MonoLisa", sans-serif;
  background-color: var(--color-platinum);
  font-size: 3vw;
  color: var(black);
  text-align: center;
}
.main-title h2 {
  animation: 1.5s fadeInUp2;
  position: relative;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 700;
}
.main-title h2 span {
  color: var(--color-secondary);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
}

.ms-container {
  position: fixed;
  z-index: 1;
  display: none;
}

.ms-default {
  position: absolute;
  z-index: 2;
  display: block;
}

.padding {
  padding-top: 10vh;
  background-color: var(--color-platinum);
}

.padding2 {
  padding-top: 2rem;
  background-color: var(--color-steel);
}

.dex-link {
  align-items: center;
  text-align: center;
  font-size: 2vw;
  color: black;
  padding-bottom: 3vh;
  font-family: "MonoLisa", sans-serif;
}

section {
  display: block;
  min-height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
  position: relative;
}

.section {
  display: block; /* Change 'none' to 'block' */
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
  min-height: 100vh;
}

.sect1 {
  z-index: 1;
  padding-top: 0px;
  display: block; /* Change 'none' to 'block' */
}

@keyframes fadeInUp {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(25%);
    opacity: 1;
  }
}
@keyframes fadeInUp2 {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(75%);
    opacity: 1;
  }
}
@keyframes fadeInDown2 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.fill-div {
  max-height: 100vh;
  min-width: 100vw;
}

.name-container {
  width: 100vw;
  align-items: center;
  text-align: center;
  overflow: visible;
  animation: 2s fadeInUp;
  place-items: center;
  margin-top: 33vh;
  margin-bottom: 10px;
  transition: opacity 3s ease-in;
}

.splash-container {
  margin-top: 800px;
  display: grid;
  grid-template: 1fr/1fr;
  place-items: center;
}

.name {
  transform: translateY(25%);
  animation: 1.5s fadeInUp;
  overflow: visible;
  font-family: "MonaLisa", sans-serif;
  opacity: 1;
  position: absolute;
  font-size: 3vw;
  text-align: center;
  transition: opacity 3s ease-in;
  color: #9da99b;
  text-shadow: 0px 10px 0.02px #000, 9.8px 2.1px 0.02px #000, 4.2px -9.1px 0.02px #000, -8px -6px 0.02px #000, -7.6px 6.5px 0.02px #000, 4.8px 8.8px 0.02px #000, 9.6px -2.8px 0.02px #000, -0.7px -10px 0.02px #000, -9.9px -1.5px 0.02px #000, -3.5px 9.4px 0.02px #000, 8.4px 5.4px 0.02px #000, 7.1px -7px 0.02px #000, -5.4px -8.4px 0.02px #000, -9.4px 3.5px 0.02px #000, 1.4px 9.9px 0.02px #000, 10px 0.8px 0.02px #000, 2.9px -9.6px 0.02px #000, -8.7px -4.8px 0.02px #000, -6.6px 7.5px 0.02px #000, 5.9px 8px 0.02px #000, 9.1px -4.1px 0.02px #000, -2.1px -9.8px 0.02px #000, -10px -0.1px 0.02px #000, -2.2px 9.8px 0.02px #000, 9.1px 4.2px 0.02px #000, 6.1px -8px 0.02px #000, -6.5px -7.6px 0.02px #000, -8.8px 4.7px 0.02px #000, 2.7px 9.6px 0.02px #000, 10px -0.6px 0.02px #000, 1.5px -9.9px 0.02px #000, -9.3px -3.6px 0.02px #000, -5.5px 8.4px 0.02px #000, 7px 7.2px 0.02px #000, 8.5px -5.3px 0.02px #000, -3.4px -9.4px 0.02px #000, -9.9px 1.3px 0.02px #000, -0.8px 10px 0.02px #000, 9.6px 2.9px 0.02px #000, 4.9px -8.7px 0.02px #000, -7.5px -6.7px 0.02px #000, -8.1px 5.9px 0.02px #000, 4px 9.2px 0.02px #000, 9.8px -2px 0.02px #000, 0.2px -10px 0.02px #000, -9.7px -2.3px 0.02px #000, -4.3px 9px 0.02px #000, 7.9px 6.1px 0.02px #000;
}

.me-container {
  width: 100vw;
  text-align: center;
  animation: 2s fadeInDown;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  position: absolute;
  margin-left: 20vw;
  margin-top: 10vh;
  overflow: visible;
  align-items: center;
  justify-items: center;
  width: auto;
  transition: opacity 3s ease-in;
}

.meOne {
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 1.8vw;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  animation-fill-mode: forwards;
  border-right: 0.15em solid transparent;
  font-family: "MonoLisa", sans-serif;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.2vw;
  animation: typing2 2s steps(9, end), blink-caret 0.75s step-end 3;
  animation-delay: 2.2s;
  animation-fill-mode: forwards;
}

.meTwo {
  align-items: center;
  animation-fill-mode: both;
  justify-items: center;
  text-align: center;
  font-size: 1.8vw;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  width: 0;
  border-right: 0.15em solid transparent;
  font-family: "MonoLisa", sans-serif;
  /*  width: -moz-fit-content;
   width: fit-content; */
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.2vw;
  animation: typing2 2s steps(9, end), blink-caret 0.75s step-end 3;
  animation-delay: 4.2s;
  animation-fill-mode: forwards;
}

.meThree {
  animation-fill-mode: both;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 1.8vw;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  border-right: 0.15em solid transparent;
  font-family: "MonoLisa", sans-serif;
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.2vw;
  animation: typing2 2s steps(9, end), blink-caret 0.75s step-end 3.5;
  animation-delay: 6.2s;
  animation-fill-mode: forwards;
}

.background-container {
  background-color: #E5E4E2;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  display: block;
  justify-content: center;
  align-content: center;
}

.sect2 {
  display: block; /* Change 'none' to 'block' */
  transform: translateY(0) scale(1);
  background-color: var(--color-steel);
}

.sect3 {
  display: block; /* Change 'none' to 'block' */
  transform: translateY(0) scale(1);
  background-color: var(--color-steel);
  min-height: 100vh;
}

.sect4 {
  display: block; /* Change 'none' to 'block' */
  transform: translateY(0) scale(1);
  background-color: var(--color-steel);
}

.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.porfolio-icon {
  background-image: url("../img/img/portfolio.png");
}

.nav-bar {
  z-index: 2;
  top: 0;
  position: fixed;
  top: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5vw;
  padding: 10px;
  text-align: center;
  width: 33.3vw;
  height: 7vh;
  top: 0px;
}

.timeline2 {
  display: grid;
  grid-template-columns: 2fr;
  background-color: var(--color-steel);
}

.nav-colored {
  background-color: var(--color-platinum);
  transition: 1s ease-in-out;
  height: 10vh;
  width: 100vw;
  padding-bottom: 75px;
}

.nav-transparent {
  transition: 1s ease-in-out;
  background-color: transparent;
}

.controlls {
  position: fixed;
  z-index: 10;
  top: 20%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(0%);
}
.controlls .active-btn {
  background-color: var(--color-black) !important;
  transition: all 0.4s ease-in-out;
}
.controlls .active-btn i {
  color: var(black) !important;
}
.controlls .control {
  padding: 1rem;
  cursor: pointer;
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shawdow1);
  font-size: 2vw;
}
.controlls .control i {
  font-size: 1rem;
  color: var(--color-steel);
  pointer-events: none;
}

h1 {
  font-family: "MonoLisa", sans-serif !important;
}

p {
  font-family: "MonoLisa", sans-serif !important;
}

h2 {
  font-family: "MonoLisa", sans-serif !important;
}

/* Responsive Timeline CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* .h1,
*::before .h1,
*::after .h1 {
  font-family: "MonoLisa", sans-serif !important;
}
* .h3,
*::before .h3,
*::after .h3 {
  font-family: "MonoLisa", sans-serif !important;
}
* .p,
*::before .p,
*::after .p {
  font-family: "MonoLisa", sans-serif !important;
}

body {
  font-size: 16px;
  font-family: "MonaLisa", sans-serif;
}

.timeline {
  font-family: "MonaLisa", sans-serif;
  color: black;
}
.timeline h1,
.timeline ul li .content h2 {
  font-family: "MonaLisa", sans-serif;
}
.timeline h1 {
  font-family: "MonaLisa", sans-serif;
  background: var(--color-platinum);
  padding: 70px 0;
  font-size: 2.5em;
  text-align: center;
}
.timeline ul {
  font-family: "MonaLisa", sans-serif;
  background: var(--color-steel);
  padding: 50px 0;
}
.timeline ul li {
  font-family: "MonaLisa", sans-serif;
  background: var(--color-platinum);
  position: relative;
  margin: 0 auto;
  width: 5px;
  padding-bottom: 40px;
  list-style-type: none;
}
.timeline ul li:last-child {
  padding-bottom: 7px;
  font-family: "MonoLisa", sans-serif;
}
.timeline ul li:before {
  font-family: "MonoLisa", sans-serif;
  content: "";
  background: var(--color-steel);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 3px solid var(--color-platinum);
  border-radius: 50%;
}
.timeline ul li .hidden {
  opacity: 0;
}
.timeline ul li .show {
  font-family: "MonoLisa", sans-serif !important;
  opacity: 1;
  animation: 2s fadeInRight;
}
.timeline ul li .content {
  font-family: "MonaLisa", sans-serif;
  background: var(--color-platinum);
  position: relative;
  top: 7px;
  width: 450px;
  padding: 2vw;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  z-index: 3;
}
.timeline ul li .content h2 {
  font-family: "MonaLisa", sans-serif;
  font-size: 2vw;
  color: black;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: solid 1px black;
  padding-left: 4vw;
  padding-right: 4vw;
}
.timeline ul li .content h3 {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2vh;
}
.timeline ul li .content .time2 {
  text-align: center;
  align-items: center;
  font-family: "MonaLisa", sans-serif;
  font-size: 2vw;
  color: black;
  padding-bottom: 10px;
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
}
.timeline ul li .content p {
  font-family: "MonaLisa", sans-serif;
  text-align: center;
}
.timeline ul li .content:before {
  content: "";
  background: var(--color-platinum);
  position: absolute;
  top: 0px;
  width: 38px;
  height: 5px;
}
.timeline ul li:nth-child(odd) .content {
  left: 50px;
  background: var(--color-platinum);
  background: linear-gradient(-45deg, var(--color-platinum), var(--color-platinum));
}
.timeline ul li:nth-child(odd) .content:before {
  left: -38px;
}
.timeline ul li:nth-child(even) .content {
  left: calc(-450px - 45px);
  background: var(--color-platinum);
  background: linear-gradient(45deg, var(--color-platinum), var(--color-platinum));
}
.timeline ul li:nth-child(even) .content:before {
  right: -38px;
}

/* -------------------------
   ----- Media Queries ----- 
   ------------------------- */
@media screen and (max-width: 1020px) {
  .timeline ul li .content {
    width: 41vw;
  }
  .timeline ul li:nth-child(even) .content {
    left: calc(-41vw - 45px);
  }
}
@media screen and (max-width: 700px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li .content {
    width: calc(100vw - 100px);
  }
  .timeline ul li .content h2 {
    text-align: initial;
  }
  .timeline ul li:nth-child(even) .content {
    left: 45px;
    background: var(--color-platinum);
    background: linear-gradient(-45deg, var(--color-platinum), var(--color-platinum));
  }
  .timeline ul li:nth-child(even) .content:before {
    left: -33px;
  }
}/*# sourceMappingURL=styles.css.map */