* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-new: #9da99b;
  --color-primary: #EFB58D;
  --color-secondary: #a57251;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey1: #dbe1e8;
  --color-grey2: #b2becd;
  --color-grey3: #6c7983;
  --color-grey4:#464e56;
  --color-grey4: #2a2e35;
  --color-grey5: #12181b;
  --br-sm-2: 14px;
  --box-shawdow1: 0px 3px 15px rgba(0,0,0,.2);
}

.Background {
  background-image: url("/Users/mileskeaveny/Desktop/PortfolioProject/img/DSC02586.JPG");
}

body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  background-color: rgb(58, 70, 53);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.padding2 {
  padding-top: 4rem;
  background-color: var(--color-new);
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
  padding: 0 !important;
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  width: 100%;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 63% 0, 81% 100%, 0% 100%);
          clip-path: polygon(0 0, 63% 0, 81% 100%, 0% 100%);
}
.header-content .left-header .image {
  border-radius: var(--br-sm-2);
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  background-color: var(--color-black);
  transition: all 0.4s ease-in-out;
}
.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}
.header-content .left-header .image img:hover {
  filter: grayscale(0);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 6rem;
}
.header-content .right-header .name {
  font-size: 3rem;
}
.header-content .right-header .name span {
  color: var(--color-secondary);
}
.header-content .right-header .name P {
  margin: 1.5rem 0;
  line-height: 2rem;
}
.header-content .right-header .subtitle {
  font-size: 1.5rem;
}
.header-content .right-header .subtitle span {
  color: var(--color-secondary);
}
.header-content .right-header .subtitle P {
  margin: 1.5rem 0;
  line-height: 2rem;
}

.portfolio-title {
  animation: 1.5s fadeInUp2;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
  position: relative;
}
.portfolio-title::before {
  content: "";
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--color-grey-1);
  transform: translateX(-50%);
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #EFB58D;
  display: grid inline-block !important;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 100% !important;
  overflow-x: hidden !important;
}
.about-container .right-about {
  flex: 1;
  padding-left: 3vh;
  position: relative;
  max-width: 50vw;
  animation: 1.5s fadeInRight;
  display: grid;
  grid-template-columns: 2fr;
}
.about-container .right-about .profile-img {
  position: relative;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url("../img/MilesFeryyToBasin.JPG");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 80%;
  overflow: hidden;
  height: 17.5vw;
  width: 45vw;
  max-width: 50vw;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-content: center;
}
.about-container .right-about .right-skills {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  display: grid inline-block;
  grid-template-columns: repeat(auto-fit, 3, 1fr);
  grid-gap: 1vw;
  grid-auto-rows: 0.2fr;
}
.about-container .right-about .right-skills .about-stats {
  border: 1px solid var(--color-grey-5);
  border-radius: 0px;
  transition: all 0.4s ease-in-out;
  padding-left: 6vw;
  padding-right: 0rem;
  padding-bottom: 2vw;
}
.about-container .right-about .right-skills .about-stats .abt-text {
  padding: 1vh;
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
}
.about-container .right-about .right-skills .about-stats .abt-text .large-text {
  font-size: 2vw;
  color: var(--color-secondary);
}
.about-container .right-about .right-skills .about-stats .abt-text .small-text {
  padding-left: 1vw;
  position: relative;
  text-transform: uppercase;
  font-size: 10vw;
  color: var(--color-grey-1);
  letter-spacing: 2vw;
}
.about-container .right-about .right-skills .about-stats .abt-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2vw;
  height: 2vw;
  background-color: var(--color-grey-5);
}
.about-container .left-about {
  flex: 1;
  top: 0;
  animation: 1.5s fadeInLeft;
  background-color: #C7A374;
  position: top;
  max-width: 45vw;
  vertical-align: top;
  border-radius: 1vw;
  margin-left: 1vw;
}
.about-container .left-about p {
  text-align: center;
  font-size: 1.5vw;
  padding: 2vh;
  line-height: 2.3vw;
  color: var(--color-grey-1);
}
.about-container .left-about h4 {
  padding-top: 2vh;
  text-align: center;
  font-size: 2vw;
  text-transform: uppercase;
}
.about-container .left-about:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  border-radius: 15px;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}

.info {
  background-color: var(--color-primary);
  min-height: 100vh;
}

.sub-title {
  background-color: var(--color-new);
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vw;
}
.sub-title h3 {
  animation: 1.5s fadeInUp2;
  position: relative;
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 200;
}
.sub-title h3 span {
  color: var(--color-secondary);
}

.dex-imgs {
  animation: 1.5s fadeInDown2;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  grid-template-rows: repeat(2, 2fr);
  margin-top: 3vw;
  padding-bottom: 1.4vh;
  align-items: center;
  justify-items: center;
  grid-row-gap: 5vh;
  grid-column-gap: 5vw;
}
.dex-imgs .Dex-img {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  height: 35vw;
  width: 20vw;
  background-repeat: no-repeat;
  border-radius: 6vw;
  align-items: center;
  justify-items: center;
  background-size: cover;
}
.dex-imgs .Dex-img .one {
  height: 35vw;
  width: 20vw;
  background-image: url("../img/AgVoice1.png");
  background-size: cover;
  border-radius: 2vw;
}
.dex-imgs .Dex-img .two {
  height: 35vw;
  width: 20vw;
  background-image: url("../img/AgVoice2.png");
  background-size: cover;
  border-radius: 2vw;
}
.dex-imgs .Dex-img .three {
  height: 35vw;
  width: 20vw;
  background-image: url("../img/AgVoice3.png");
  background-size: cover;
  border-radius: 2vw;
}
.dex-imgs .Dex-img .four {
  height: 35vw;
  width: 20vw;
  background-image: url("../img/AgVoice4.png");
  background-size: cover;
  border-radius: 2vw;
}

.stat-title {
  text-transform: uppercase;
  font-size: 2vw;
  text-align: center;
  padding: 1rem 0;
  position: relative;
}
.stat-title::before {
  content: "";
  left: 50%;
  top: 0;
  height: 1px;
  background-color: var(--color-grey-1);
  transform: translateX(-50%);
}

.skill-logos {
  align-items: center;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 0.5rem;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  row-gap: 1.4vw;
  display: flex;
  flex-wrap: wrap;
  padding-right: 0rem;
  width: 41vw;
}
.skill-logos .skill-logo {
  width: 20vw;
  position: relative;
  padding-left: 1vw;
  border-left: 1px solid var(--color-grey-5);
}
.skill-logos .skill-logo .slogo {
  position: absolute;
  left: -3vw;
  top: 0;
  background-color: var(--color-secondary);
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-logos .skill-logo .slogo i {
  font-size: 1.3vw;
}

.timeline {
  padding-left: 6vw;
  padding-right: 2vw;
  align-items: flex-start;
  grid-template-columns: repeat(3, 2fr);
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  grid-gap: 2vw;
  padding-bottom: 2vw;
}
.timeline .timeline-item {
  position: relative;
  max-width: 45vw;
  padding-left: 3vw;
  border-left: 1px solid var(--color-grey-5);
}
.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -10px;
  top: 0;
  background-color: var(--color-secondary);
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline .timeline-item .tl-icon i {
  font-size: 1.6vw;
}
.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-grey-5);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 600;
}
.timeline .timeline-item h5 span {
  color: var(--color-grey-2);
  font-weight: 500;
  font-size: 1vw;
}
.timeline .timeline-item p {
  color: var(--color-grey-2);
  font-size: 1.3vw;
}

.my-links {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  grid-template-columns: repeat(2, 2fr);
  padding-bottom: 2rem;
  padding-top: 5px;
}
.my-links .link {
  padding-left: 10px;
  padding-right: 10px;
}

.port-text {
  animation: 1.5s fadeInUp2;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.5vw;
}

.portfolios {
  animation: 1.5s fadeInDown2;
  padding-left: 2vw;
  padding-right: 2vw;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 2vw;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}
.portfolios .portfolio-item {
  width: 30vw;
  height: 20vw;
  position: relative;
  border-radius: 15px;
}
.portfolios .portfolio-item img {
  width: 100%;
  height: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items h3 {
  font-size: 2vw;
  color: var(--color-grey-1);
  margin-bottom: 2vw;
}
.portfolios .portfolio-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

.about-stats {
  padding-right: 0rem;
  padding-bottom: 4rem;
}
.about-stats .progress-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-stats .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
.about-stats .progress-bars .progress-bar .prog-title {
  text-transform: uppercase;
  font-weight: 500;
}
.about-stats .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
}
.about-stats .progress-bars .progress-bar .progress-con .prog-text {
  color: var(--color-grey-2);
}
.about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-grey-4);
  margin-left: 1rem;
  position: relative;
}
.about-stats .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
  width: 60%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .html {
  width: 80%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .css {
  width: 95%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .js {
  width: 75%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .react {
  width: 60%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .node {
  width: 87%;
}
.about-stats .progress-bars .progress-bar .progress-con .progress .python {
  width: 70%;
}

.btn-con {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 30vw;
  height: 10vw;
  margin-left: 8vw;
  margin-right: 20vw;
  font-size: 1.7vw;
}

.main-btn {
  color: inherit;
  position: relative;
  border: 0.2vw solid var(--color-secondary);
  border-radius: 10vh;
  display: flex;
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 4vw;
  width: 17vw;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 2vh;
  margin-left: 1vw;
  font-size: 1.4vw;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.2vh;
  width: 7vw;
  height: 7vw;
  margin-left: 1.7vw;
  overflow: hidden;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10vh;
  transform: translateX(-100%);
  overflow: hidden;
  transition: all 2s ease-out;
  z-index: -1;
  border-radius: 10vh;
}
.main-btn:hover {
  transition: all 2s ease-out;
  border-radius: 10vh;
  overflow: hidden;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  border-radius: 10vh;
  background-color: var(--color-secondary);
  transform: translateX(0%);
  overflow: hidden;
}
.main-btn:hover i {
  display: flex;
  font-size: 1.2rem;
  color: var(--color-grey2);
  pointer-events: none;
}

.main-title {
  padding-bottom: 2vw;
  padding-top: 2vw;
  background-color: var(--color-new);
  text-align: center;
}
.main-title h2 {
  animation: 1.5s fadeInUp2;
  position: relative;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 700;
}
.main-title h2 span {
  color: var(--color-secondary);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}

.padding {
  padding-top: 2rem;
}

.padding2 {
  padding-top: 2rem;
  background-color: var(--color-new);
}

.dex-link {
  align-items: center;
  text-align: center;
  font-size: 2vw;
  color: #60755c;
  padding-bottom: 3vh;
}

section {
  display: block;
  min-height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
  position: relative;
}

.section {
  display: block; /* Change 'none' to 'block' */
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
  min-height: 100vh;
}

.sect1 {
  z-index: 1;
  padding-top: 0px;
  display: block; /* Change 'none' to 'block' */
}

@keyframes fadeInUp {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(25%);
    opacity: 1;
  }
}
@keyframes fadeInUp2 {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(75%);
    opacity: 1;
  }
}
@keyframes fadeInDown2 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.fill-div {
  max-height: 100vh;
  min-width: 100vw;
}

.name-container {
  transform: translateY(25%);
  overflow: visible;
  animation: 1.5s fadeInUp;
  place-items: center;
  margin-top: 33vh;
  margin-bottom: 10px;
  width: 66.6vw;
  padding-left: 23vw;
  position: absolute;
  transition: opacity 3s ease-in;
}

.splash-container {
  margin-top: 800px;
  display: grid;
  grid-template: 1fr/1fr;
  place-items: center;
}

.name {
  transform: translateY(25%);
  animation: 1.5s fadeInUp;
  overflow: visible;
  font-family: Arial;
  opacity: 1;
  position: absolute;
  font-size: 3vw;
  text-align: center;
  transition: opacity 3s ease-in;
  color: #9da99b;
  text-shadow: 0px 10px 0.02px #000, 9.8px 2.1px 0.02px #000, 4.2px -9.1px 0.02px #000, -8px -6px 0.02px #000, -7.6px 6.5px 0.02px #000, 4.8px 8.8px 0.02px #000, 9.6px -2.8px 0.02px #000, -0.7px -10px 0.02px #000, -9.9px -1.5px 0.02px #000, -3.5px 9.4px 0.02px #000, 8.4px 5.4px 0.02px #000, 7.1px -7px 0.02px #000, -5.4px -8.4px 0.02px #000, -9.4px 3.5px 0.02px #000, 1.4px 9.9px 0.02px #000, 10px 0.8px 0.02px #000, 2.9px -9.6px 0.02px #000, -8.7px -4.8px 0.02px #000, -6.6px 7.5px 0.02px #000, 5.9px 8px 0.02px #000, 9.1px -4.1px 0.02px #000, -2.1px -9.8px 0.02px #000, -10px -0.1px 0.02px #000, -2.2px 9.8px 0.02px #000, 9.1px 4.2px 0.02px #000, 6.1px -8px 0.02px #000, -6.5px -7.6px 0.02px #000, -8.8px 4.7px 0.02px #000, 2.7px 9.6px 0.02px #000, 10px -0.6px 0.02px #000, 1.5px -9.9px 0.02px #000, -9.3px -3.6px 0.02px #000, -5.5px 8.4px 0.02px #000, 7px 7.2px 0.02px #000, 8.5px -5.3px 0.02px #000, -3.4px -9.4px 0.02px #000, -9.9px 1.3px 0.02px #000, -0.8px 10px 0.02px #000, 9.6px 2.9px 0.02px #000, 4.9px -8.7px 0.02px #000, -7.5px -6.7px 0.02px #000, -8.1px 5.9px 0.02px #000, 4px 9.2px 0.02px #000, 9.8px -2px 0.02px #000, 0.2px -10px 0.02px #000, -9.7px -2.3px 0.02px #000, -4.3px 9px 0.02px #000, 7.9px 6.1px 0.02px #000;
}

.me-container {
  transform: translateY(75%);
  animation: 1.5s fadeInDown;
  display: grid;
  grid-template-columns: 17vw 17vw 17vw;
  position: absolute;
  margin-top: 40vh;
  overflow: visible;
  align-items: center;
  justify-items: center;
  width: auto;
  transition: opacity 3s ease-in;
}

.me {
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 1.8vw;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  display: inline-block;
}

.background-container {
  background-image: url("../img/DSC02586.JPG");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-content: center;
}

.sect2 {
  display: block; /* Change 'none' to 'block' */
  transform: translateY(0) scale(1);
  background-color: var(--color-new);
}

.sect3 {
  display: block; /* Change 'none' to 'block' */
  transform: translateY(0) scale(1);
  background-color: var(--color-new);
  min-height: 100vh;
}

.sect4 {
  display: block; /* Change 'none' to 'block' */
  transform: translateY(0) scale(1);
  background-color: var(--color-new);
}

.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.porfolio-icon {
  background-image: url("../img/img/portfolio.png");
}

.nav-bar {
  z-index: 2;
  top: 0;
  position: fixed;
  top: 50%;
  margin-left: 33vw;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  text-align: center;
  width: 33vw;
  height: 7vh;
  margin-left: 33vw;
  top: 0px;
}

.timeline2 {
  display: grid;
  grid-template-columns: 2fr;
  background-color: var(--color-new);
}

.nav-colored {
  background-color: var(--color-new);
  transition: 1s ease-in-out;
}

.nav-transparent {
  transition: 1s ease-in-out;
  background-color: transparent;
}

.controlls {
  position: fixed;
  z-index: 10;
  top: 20%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(0%);
}
.controlls .active-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.4s ease-in-out;
}
.controlls .active-btn i {
  color: var(--color-white) !important;
}
.controlls .control {
  padding: 1rem;
  cursor: pointer;
  border-radius: 25%;
  background-color: var(--color-grey3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shawdow1);
}
.controlls .control i {
  font-size: 1.2rem;
  color: var(--color-grey2);
  pointer-events: none;
}/*# sourceMappingURL=styles.css.map */